* {
  font-family: "Roboto", sans-serif;
}

@main-body-width: 1200px;

.flex-container {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jf-spc-between {
  justify-content: space-between;
}

.jf-evenly {
  justify-content: space-evenly;
}

.al-items-center {
  align-items: center;
}

.main-width {
  max-width: @main-body-width;
}

.margin-auto {
  margin: 0 auto;
}

.background-block {
  background-position: center;
}

.main-block {
  margin: 0 auto;
  max-width: @main-body-width;
  width: 60%;
  min-width: 250px;
}

.thick-text {
  font-weight: bold;
}

#head_horisontal_scroll {
  display: flex;
  justify-content: space-around;
}

#hat-nav {
  gap: 2.865vw;
}

#hat > * {
  color: white;
}

#nav-logo {
  flex-grow: 1;
  text-align: center;
}

#hat-nav > a {
  text-align: center;
}
