@global-font-size: 15px;

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: @global-font-size;
  box-sizing: border-box;
}

@main-body-width: 1200px;
@hat-height: 970px;

h1,
h2 {
  margin: 0px;
}

#hat {
  height: @hat-height;
}

.logo-link {
  height: @global-font-size;
  width: @global-font-size;
}

#hat img {
  height: @global-font-size;
  width: @global-font-size;
}

#hat-background {
  height: @hat-height;
}

header > h1 {
  font-size: 112px;
  font-weight: 800;
  font-family: "Montserrat";
  @media (max-width: 900px) {
    font-size: 90px;
  }

  @media (max-width: 700px) {
    font-size: 70px;
  }

  @media (max-width: 500px) {
    font-size: 56px;
  }

  @media (max-width: 350px) {
    font-size: 48px;
  }
}

.kaushan {
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
}

.roboto {
  font-family: "Roboto";
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}

.fs-50 {
  font-size: 50px;
}

.fs-64 {
  font-size: 64px;
}

.fs-80 {
  font-size: 80px;
}

.fs-96 {
  font-size: 96px;
}

header > h2 {
  font-size: 56px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  /* Resize giant fonts to fit mobile screen */
  @media (max-width: 900px) {
    font-size: 40px;
  }

  @media (max-width: 900px) {
    font-size: 36px;
  }

  @media (max-width: 500px) {
    font-size: 32px;
  }

  @media (max-width: 500px) {
    font-size: 28px;
  }
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jf-spc-between {
  justify-content: space-between;
}

.jf-evenly {
  justify-content: space-evenly;
}

.jf-center {
  justify-content: center;
}

.al-items-center {
  align-items: center;
}

.al-items-stretch {
  align-items: stretch;
}

.text-center {
  text-align: center;
}

.main-width {
  max-width: @main-body-width;
}

.margin-auto {
  margin: 0 auto;
}

.margin-0 {
  margin: 0;
}

.picture-container > figure {
  margin: 0;
}

.background-block {
  background-position: center;
}

.main-block {
  margin: 0 auto;
  max-width: @main-body-width;
  width: 80%;
  min-width: 280px;
}

.thick-text {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underscore-header {
  height: 3px;
  width: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-pink {
  background-color: #f38181;
}

.bg-green {
  background-color: #95e1d3;
}

text-grey {
  color: #999999;
}

#head_horisontal_scroll {
  display: flex;
  //justify-content: space-around;
}

#hat-nav {
  margin-top: 30px;
}

#hat-nav-items {
  gap: 2.865vw;
}

#hat > * {
  color: white;
}

#nav-logo {
  font-size: 28px;
  flex-grow: 1;
  //text-align: center;
}

#hat-nav > a {
  text-align: center;
}

#header-button {
  box-sizing: border-box;
  height: 40px;
  width: 160px;
  font-weight: 600;
}

#hat-main {
  min-height: 450px;
  @media (max-width: 900px) {
    min-height: 360px;
  }

  @media (max-width: 700px) {
    min-height: 320px;
  }

  @media (max-width: 500px) {
    min-height: 270px;
  }

  @media (max-width: 350px) {
    min-height: 230px;
  }
}

.slider-number {
  @media (max-width: 900px) {
    display: none;
  }
}

#welcome-head {
  line-height: 90%;
}

.slider-text-container {
  padding: 20px 0;
}

.slider-container {
  height: 60px;
  width: 22%;
  max-width: 280px;
}

.slider {
  height: 3px;
  background-color: white;
}

.slider-fill {
  background-color: #f38181;
  width: 0%;
  height: 3px;
}

// Use width to controll width of the progress bar
#slider-fill-1 {
  width: 40%;
}

.slider-number {
  font-weight: bold;
  font-size: 18px;
}
.trsp-button {
  background-color: transparent;
}

.border-white {
  border: 2px white solid;
}

.text-white {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #584848;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b7b7b;
}

#about-us-block {
  padding-top: 70px;
  padding-bottom: 110px;
  min-height: 550px;
  background-color: #ffffff;
}

#about-us-block {
  gap: 80px;
}

#about-us-description {
  width: 79%;
}

.picture-container > figure {
  @media (max-width: 1450px) {
    width: 33%;

    img {
      width: 100%;
    }
  }
}

.picture-container {
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 10px;

    figure {
      width: auto;
    }
  }
}

#numbers-block {
  min-height: 270px;
}

#numbers-article {
  font-family: "Montserrat";
  color: white;
  text-align: center;
}

#numbers-article h3 {
  margin: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.border-light-green {
  border: 2px #b5eae0 solid;
}

.border-light-green-hz {
  border-right: 2px #b5eae0 solid;
  border-left: 2px #b5eae0 solid;
}

.flex-grow {
  flex-grow: 1;
}

.numbered-article {
  margin-left: -2px;
}
